
/* Title Section */

#title{
    background-image: url("../images/622.jpg");
    background-size: cover;
    color: #eaf0f0;
    text-align: center;
}

.iphone{
    border-radius: 2rem;
    width: 14rem;
    margin: 2.5rem;
}

.titleheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    line-height: 1.5;
    margin-top: 3.75rem;
    letter-spacing: 0.1rem;
}

#fluid-pad{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#nbpad{
    padding: 0 0 2.75rem;
}
.nav-item{
    padding: 0 0.8rem;
}

.nav-link{
    font-family: cursive;
    font-size: 1.1rem;
}
#nb{
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 2rem;
    color:gray;
}

#editbtn{
    margin: 1rem 0.5rem;
}

i{
    margin: 0 0.5rem 0 0;
}

/* Features */

.iconimg{
    width: 5rem;
    height: 5rem;
}

.features{
    background-color: #eaf0f0;
    text-align: center;
    padding: 7%;
}

.featureheadings{
    margin-top: 0.5rem;
    
}

/* Menu Section */

#menu{
    background-image: url("../images/622.jpg");
    background-size: cover;
}

.cardmar{
    margin-top: 1rem;
}

/* Download */

.appdownload{
    text-align: center;
    background-color: #eaf0f0;
    font-family: cursive;
    padding: 7% 3% 5%;
    letter-spacing: 0.1rem;
}

/* Comments Section */

#comments-carousel{
    text-align: center;
    padding: 7% 3% 7%;
    background-image: url("../images/622.jpg");
    background-size: cover;
    color: #eaf0f0;
}

.comments-headings{
    display: inline-block;
    /* width: 45%; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.comments-img{
    width: 100px;
    border-radius: 5rem;
    margin-top: 2rem;
    margin-left: 1rem;
}


/* Footer Section */
#footer{
    padding: 5% 3% 5%;
    text-align: center;
}

.footer-heading{
    margin-bottom: 2rem;
    font-size: 1.9rem;
}

.color-icon{
    color: black;
}